.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: var(--palette-scheme-1);
    background: var(--palette-scheme-3);
    padding: var(--padding);
    box-shadow: var(--box-shadow);
}

.navbar-brand {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--brand-font-size);
    margin: var(--brand-margin);
}

.navbar-brand img {
    border-radius: var(--brand-img-border-radius);
    width: var(--brand-img-width);
    opacity: .5;
    margin: var(--brand-img-margin);
}

.navbar nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar li {}

.navbar li a {
    background: var(--palette-scheme-2);
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    color: var(--palette-scheme-1);
    text-decoration: none;
    box-shadow: var(--button-box-shadow);
}