@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono:wght@300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: "Lato", sans-serif;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-palette-one: #0CFFB3;
  --color-palette-two: #11CDD4;
  --color-palette-three: #1EA0EB;
  --color-palette-four: #114CD4;
  --color-palette-five: #1A14F7;
  --text-color-light: #f5eaea;
  --text-color-dark: #1f1f1f;
}

/**
 * @author Jon Taylor
 * @define A mixin to quickly add a breakpoint section.
 * @param {String} $breakpoint - key to the breakpoints map.
 * @requires {Map} $breakpoints
 * @example ```@include responsive(small) {
   .hello-world {
     flex-basis: 60%;
   }
 }

 /// should return
 @media (min-width: 767px) {
   .hello-world {
     flex-basis: 60%
   }
 }```
 */
.navbar {
  display: flex;
  flex-wrap: wrap;
  color: var(--color-palette-one);
  background: var(--color-palette-three);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
}
.navbar .brand {
  display: flex;
  flex-wrap: wrap;
}
.navbar .brand img {
  border-radius: 100%;
  opacity: 0.3;
}
.navbar .brand div {
  align-self: center;
}
.navbar .nav {
  padding-bottom: 10px;
  align-self: center;
}
.navbar .nav .bar {
  display: flex;
  justify-content: space-evenly;
  /*li a {
    background: get-color(2);
    box-shadow: -1px -2px 20px -4px rgba(0,0,0,.35);
    color: #1f1f1f;
    text-decoration: none;
    border-radius: .25rem;
  }*/
}
@media (min-width: 0px) {
  .navbar {
    justify-content: space-around;
  }
  .navbar .brand {
    justify-content: center;
    padding: 0.375rem 0 0.375rem 0;
    font-size: 3rem;
  }
  .navbar .brand img {
    width: 4.6125rem;
    margin-right: 0.75rem;
  }
  .navbar .nav {
    flex-basis: 100%;
    margin-bottom: 0.5rem;
  }
  .navbar .nav .bar li a {
    font-size: 0.75rem;
    padding: 0.5625rem;
  }
}
@media (min-width: 767px) {
  .navbar {
    justify-content: space-between;
  }
  .navbar .brand {
    padding: 0;
    font-size: 3.5rem;
  }
  .navbar .brand img {
    transform: rotatey(120deg);
    box-shadow: -9rem 0.2rem 1rem 0rem #000;
    width: 5.38125rem;
    margin-right: 0.875rem;
  }
  .navbar .nav {
    flex-basis: 50%;
    margin-top: 1rem;
  }
  .navbar .nav .bar li {
    font-size: 0.875rem;
  }
  .navbar .nav .bar li a {
    padding: 0.65625rem;
  }
}
@media (min-width: 992px) {
  .navbar {
    justify-content: space-between;
  }
  .navbar .brand {
    padding: 0;
    font-size: 4rem;
  }
  .navbar .brand img {
    transform: rotatey(120deg);
    box-shadow: -9.5rem 0.2rem 1rem 0rem #000;
    width: 6.15rem;
    margin-right: 1rem;
  }
  .navbar .nav {
    flex-basis: 40%;
  }
  .navbar .nav .bar li {
    font-size: 1rem;
  }
  .navbar .nav .bar li a {
    padding: 0.75rem;
  }
}
@media (min-width: 1200px) {
  .navbar {
    justify-content: space-between;
  }
  .navbar .brand {
    padding: 0;
    font-size: 5rem;
  }
  .navbar .brand img {
    transform: rotatey(120deg);
    box-shadow: -13rem 0.2rem 1rem 0rem #000;
    width: 7.6875rem;
    margin-right: 1.25rem;
  }
  .navbar .nav {
    flex-basis: 30%;
  }
  .navbar .nav .bar li {
    font-size: 1.25rem;
  }
  .navbar .nav .bar li a {
    padding: 0.9375rem;
  }
}

.button {
  background-color: var(--color-palette-three);
  color: var(--text-color-light);
  text-shadow: -2px 1px 6px var(--text-color-dark);
  text-decoration: none;
  border-radius: 10%;
  transition: all 150ms ease-in-out;
  font-size: 0.75rem;
  padding: 0.5625rem;
}

.button:hover {
  background-color: var(--color-palette-one);
  color: var(--text-color-dark);
  text-shadow: unset;
  -webkit-box-shadow: -1px 2px 20px -4px rgba(0, 0, 0, 0.5);
  -o-box-shadow: -1px 2px 20px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 2px 20px -4px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 2px 20px -4px rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=main.css.map */
