/*
The idea behind this setup is to set an easy way to change variables in one place.
*/

:root {
    /* Color Scheme */
    --palette-scheme-1: #cacacb;
    --palette-scheme-2: #3f3f40;
    --palette-scheme-3: #204b72;
    --palette-scheme-4: #986340;
    --palette-scheme-5: #000409;

    /* Breakpoints */
    --phone: 599px;
    --tablet: 600px;
    --laptop: 900px;
    --desktop: 1200px;
    /* Anything above laptop-max will be outside media queries. */
}