$screen-multiplier: (
  xs: .75,
  sm: .875,
  md: 1,
  lg: 1.25
) !default;

/// @var {Map} Quickly manage breakpoint values.
$breakpoints: (
        x-small: (min-width: 0px),
        small: (min-width: 767px),
        medium: (min-width: 992px),
        large: (min-width: 1200px)
) !default;

/// Colors
:root {
  --color-palette-one: #0CFFB3;
  --color-palette-two: #11CDD4;
  --color-palette-three: #1EA0EB;
  --color-palette-four: #114CD4;
  --color-palette-five: #1A14F7;

  --text-color-light: #f5eaea;
  --text-color-dark: #1f1f1f;
}
$color-palette-scheme: (
        1: var(--color-palette-one),
        2: var(--color-palette-two),
        3: var(--color-palette-three),
        4: var(--color-palette-four),
        5: var(--color-palette-five)
) !default;

$text-color-dark: var(--text-color-dark);
$text-color-light: var(--text-color-light);

/// Typography
$font-size-base: 1rem;
$font-sizes: (
        xs: $font-size-base * map-get($screen-multiplier, xs),
        sm: $font-size-base * map-get($screen-multiplier, sm),
        md: $font-size-base * map-get($screen-multiplier, md),
        lg: $font-size-base * map-get($screen-multiplier, lg),
) !default;